<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Elmo's "Sloppy Oscars"</title>
    </head>

    <body>
        <header>
            <h1>Elmo's Recipe for "Sloppy Oscars"</h1>
        </header>
        <br>
        <main>
            <div>
                <img src="https://i.ytimg.com/vi/gI_BrkkhMzY/maxresdefault.jpg"/>
                <aside>
                    <p>
                        <em>"It's gross stuff, but it tastes good when it's put all together."</em> 
                        <br/>- Elmo, 2015
                    </p>
                </aside>
                
            </div>
            <div>
                <aside>
                    <p>
                        All recipe pages have a giant tract of pointless text at the top of them, so here it is:
                        <br><br>
                        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
                    </p>
                </aside>
                <section>
                    <p>
                        This is the recipe that Elmo gave to Jimmy Fallon for his "Sloppy Oscar" burgers.
                    </p>
                </section>
                <br>
                <section>
                    <h2>
                        The ingredients for Sloppy Oscars are:
                    </h2>
                    <ul>
                        <li>Onions</li>
                        <li>Garlic</li>
                        <li>Celery</li>
                        <li>Balsamic Vinegar</li>
                    </ul>
                </section>
            </div>
        </main>
        
        <footer>
            <p>See <a href="https://youtu.be/YN1hL9cn7s0">this instructional video</a> for more information.</p>
        </footer>
    </body>
</html>